body {
      margin: 0px;
      padding: 0px;
      border: 2px;
      border-color: red;
      background-color: #FFF9F3;

}

h1 {
  text-align: center;
  color: black;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    width: 300px;
    background-color: lightgrey;

}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: grey;
    color: lightpink;

}


nav {
    display: block;
    margin: 0px;
    padding: 0px;

}

a {
  text-decoration: none;

}

div.contact {
  text-decoration: none;
  color: pink;
}

p {
  color lightblue;
}

img {
    margin-left: 350px;
    

}
